<?xml version="1.0" encoding="UTF-8" ?>

<phpunit bootstrap="./tests/Bootstrap.php" colors="true">
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="AxalianAchievements Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>