<?php
/**
 * AxalianAchievements Configuration
 *
 * @category AxalianAchievements
 * @package  AxalianAchievements
 * @author   Michel Maas <michel@michelmaas.com>
 */
return array(
    'axalian_achievements' => array(
        'achievement_providers' => array(
            'factories' => array(
                'AxalianAchievements\AchievementProvider\ConfigAchievementProvider' => 'AxalianAchievements\ServiceFactory\AchievementProvider\ConfigAchievementProviderFactory'
            )
        ),
        'storage_adapter' => 'AxalianAchievements\StorageAdapter\NullStorageAdapter'
    ),
    'axalian_achievements_config_provider' => array(
            'categories' => array(
                'general' => array(
                    'title' => 'General',
                    'description' => 'General site achievements',
                    'image' => 'general.png',
                ),
                ...
            ),
            'achievements' => array(
                'visited_site' => array(
                    'category' => 'General',
                    'title' => 'Visited site!',
                    'description' => 'You visited the site!',
                    'event' => 'site_visit',
                    'points' => 10,
                    'multiple' => true,
                    'image' => 'visit.png',
                ),
                ...
            )
        )
    )
);